.style-paragraphe1{
    color: rgb(173, 13, 13);
    text-align: center;
}

h1{
    font-weight: initial;
    text-align: center;
}

a{
   text-decoration: none;
}

img.alignCenter{
    display: block;
    margin: 0 auto;
}

p{
    font-weight: bold;
}